
<h1>Welcome to Pseudo Cooking</h1>
<h3>A cooking site for programmers!</h3>

<div id="myCarousel" class="carousel slide" data-ride="carousel"  >
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner"  >
		<div class="item active" >
			<img src="/assets/MeatPie1.jpg" alt="Meat Pie">
			<div class="carousel-caption">
				<h3>Just Drop Everything and Gawk at this</h3>
				<p>Chashu Pork Mini Pie</p>
			</div>
		</div>
		<div class="item">
			<img src="/assets/okonomiyaki1.jpg" alt="Okonomiyaki" >
			<div class="carousel-caption">
				<h3>It's more pizza than pancake</h3>
				<p>Okonomiyaki</p>
			</div>
		</div>
		<div class="item" >
			<img src="/assets/homecooking3.jpg" alt="Pasta">
			<div class="carousel-caption">
				<h3>Gumbo Weather</h3>
				<p>Classic N.O. Gumbo</p>
			</div>
		</div>

	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>
<div class="recommandedRecipes" >
	<div class="row">
		<div class="col-lg-4">
			<img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="/assets/homecooking4.jpg">
			<h2>Heading</h2>
			<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
			<p><a class="btn btn-default" href="#" role="button">View details »</a></p>
		</div>
		<div class="col-lg-4">
			<img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="/assets/homecooking1.jpg">
			<h2>Heading</h2>
			<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
			<p><a class="btn btn-default" href="#" role="button">View details »</a></p>
		</div>
		<div class="col-lg-4">
			<img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="/assets/homecooking6.jpg">
			<h2>Heading</h2>
			<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
			<p><a class="btn btn-default" href="#" role="button">View details »</a></p>
		</div>
	</div>
</div> 
